.hero {

    background-image: url(../../img/hero.bc.svg);
    background-repeat: no-repeat;
    background-position: right bottom;

    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__title {
        max-width: 350px;
        color: #FFF;
        font-family: Livvic;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
        /* 156.25% */


    }

    &__text {
        max-width: 730px;
        color: #FFF;
        font-family: Livvic;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        /* 155.556% */
        margin-left: 30px;
    }

    &__text::before {
        content: "";
        width: 50px;
        height: 4px;
        flex-shrink: 0;
        background-color: #F67E7E;
        display: block;
        margin-bottom: 79px;
    }

    &__container {
        background-image: url(../../img/hero_bc.svg);
        background-repeat: no-repeat;
        background-position: right bottom;

    }
}

@media screen and (max-width: 1240px) {
    .hero__container {
        flex-direction: column;
        max-width: 690px;
    }

    .hero__text::before {
        content: none;
    }

    .hero__title {
        max-width: 683px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }

    .hero__text {
        max-width: 457px;
        font-size: 15px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 690px) {
    .hero__title {
        max-width: 327px;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .hero__container {
        max-width: 330px;
        padding-bottom: 108px;
        padding-top: 80px;
    }

    .hero__text {
        max-width: 327px;

    }

    .hero__container {
        background-image: url(../../img/hero_bc.svg);
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}
@media screen and (max-width: 540px) {
    .hero {
        background-image: url(../../img/hero_bc2_img.svg);
        background-position: right bottom;
        background-repeat: no-repeat;
    }
}